html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background: #a9e4f7; /* Old browsers */
  background: -moz-linear-gradient(left, #a9e4f7 0%, #0fb4e7 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a9e4f7), color-stop(100%,#0fb4e7)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #a9e4f7 0%,#0fb4e7 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #a9e4f7 0%,#0fb4e7 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #a9e4f7 0%,#0fb4e7 100%); /* IE10+ */
  background: linear-gradient(left, #a9e4f7 0%,#0fb4e7 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a9e4f7', endColorstr='#0fb4e7',GradientType=1 ); /* IE6-9 */
}

.landing-page {
  width: 500px;
  padding: 20px;
  box-shadow: rgba(0,0,0,0.4) 0px 0px 15px 0px;
  margin: 60px auto;
  text-align: justify;
  text-shadow: #fff 0px 1px 0px;
  background: #f2f9fe; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#f2f9fe), color-stop(100%,#d6f0fd)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f2f9fe 0%,#d6f0fd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f2f9fe 0%,#d6f0fd 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f2f9fe 0%,#d6f0fd 100%); /* IE10+ */
  background: radial-gradient(center, ellipse cover, #f2f9fe 0%,#d6f0fd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f9fe', endColorstr='#d6f0fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.landing-page div {
  line-height: 2em;
  margin: 1em 0;
}

.landing-page div form {
  text-align: center;
  margin: 1em 0;
}

#messages {
  height: 100px;
  overflow: hidden;
}

.game-container {
  width: 600px;
  margin: 10px auto;
  background: rgba(255,255,255,0.8);
  padding: 20px;
  box-shadow: rgba(0,0,0,0.4) 0px 0px 15px 0px;
}

.players {
  width: 100%;
  overflow: auto;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}

.players div {
  float: left;
  padding: 10px 10px 10px 0px;
}

.player-join {
  margin-top: -13px;
}

.mark-new {
  height: 20px;
  width:  20px;
  border: 1px solid #aaa;
}

.mark-O , .mark-X {
  height: 20px;
  width:  20px;
}

.mark-O {
  background: #900;
  border: 1px solid #700;
}

.mark-X {
  background: #090;
  border: 1px solid #070;
}

input[type="submit"] , .buttonify {
  text-decoration: none;
  cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ebebeb 50%,
		#dbdbdb 50%,
		#b5b5b5);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ebebeb),
		color-stop(0.50, #dbdbdb),
		to(#b5b5b5));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 1px solid #949494;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 2px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,1);
}
